<!doctype html>
<html ng-app='amgApp'>

<head>
  <meta charset="UTF-8">
  <title>AMG Employee Page</title>
  <link rel='stylesheet' type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" href="styles.css" rel='stylesheet'>
</head>

<body>
  <div ng-controller='toolCtrl as ctrl'>
    <md-toolbar md-theme='amgTheme' class='md-hue-3'>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button material-icons" aria-label="Settings">
          menu
        </md-button>
        <h2>
          <span>Employee Name</span>
        </h2>
        <span flex></span>
        <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class='material-icons md-36'>account_box</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              Employee
            </md-menu-item>
            <md-menu-item>
              Account Number:
            </md-menu-item>
            <md-menu-item md-theme='amgTheme'>
              <md-button aria-label="logout" class="md-icon-button md-hue-3 material-icons md-36" ng-click="logout()">cancel
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </md-toolbar>
    </div>
  </div>
  <div class="container">
    <div md-theme='amgTheme' class="jumbotron">
      <!-- Nav tabs -->
      <md-tabs class='md-accent md-hue-3'>
        <md-tab md-active label='Customers' ui-sref='customers'></md-tab>
        <md-tab label='Calendar' ui-sref='calendar'></md-tab>
        <md-tab label='Schedule Close' ui-sref='schedule'></md-tab>
        <md-tab label='New Customer' ui-sref='newcustomer'></md-tab>
      </md-tabs>
      <md-tab-body ui-view></md-tab-body>
    </div>

  </div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainCtrl.js"></script>
  <script src="js/mainService.js"></script>
  <script src="js/login/loginCtrl.js"></script>
  <script src="js/newCustomer/newCustCtrl.js"></script>
  <script src="js/newCustomer/newCustService.js"></script>
  <script src="js/scheduleSurvey/surveyCtrl.js"></script>
  <script src="js/scheduleTech/techCtrl.js"></script>
  <script src="js/viewCalendar/calCtrl.js"></script>
  <script src="js/viewCustomer/customerCtrl.js"></script>
  <script src="js/customerPage/customerPageCtrl.js"></script>
  <script src="js/toolCtrl.js"></script>
  <script src="js/login/loginService.js"></script>
</body>

</html>