body {
  padding-top: 70px
}

.glyphicon {
  font-size: 30px;
  color: darkred;
}

.navbar {
  background-color: darkgrey;
}

.navbar-brand {
  color: darkred;
}

.userMenu{
  padding-left: 10px;
  padding-bottom: 2px;
}

.grid {
  width: 500px;
  height: 250px;
}